@use 'base/vars' as v;
@use 'base/mixins' as m;

.header{
    min-height: 60rem;
    background: url("../img/grafico.svg"), url("../img/grafico.svg"),
    linear-gradient(to bottom, rgba(v.$black, 1), rgba(v.$black, 0.85)),
    image-set(url("../img/header.avif"),url("../img/header.webp"), url("../img/header.jpg"));
    background-repeat: no-repeat;
    background-size: 40rem,40rem,cover,cover;
    background-position:top left, bottom right, center, center;
    &__container{
        @include m.container;
    }
    &__nav{
        padding-block: 5rem;
        display: flex;
        justify-content: center;
        gap: 2rem;
        @include m.tablet{
            justify-content: flex-end;
        }
    }
    &__link{
        @include m.link(v.$blue);
    }
    &__content{
        padding-top: 10rem;
        @include m.tablet{
            padding-top: 5rem;
        }
    }
    &__logo{
        text-align: center;
        @include m.fluid-text(3.5rem,8rem);
        @include m.gradient-texto(right,v.$blue, v.$green);
        @include m.tablet{
            text-align: left;
            // para que quede mejor marcado el bg
            display: inline-block;
        }
    }
    &__text{
        font-size: 2.5rem;
        font-weight: v.$bold;
        color: v.$white;
        margin-block: 2rem;
        text-align: center;
        text-transform: uppercase;
        @include m.tablet{
            text-align: left;
            font-size: 3rem;
        }
        &--modality{
            @include m.fluid-text(1.7rem,2.2rem);
            
        }
    }
    &__button{
        @include m.button(v.$secondary, v.$white);
        margin-block: 2rem;
        @include m.tablet{
            width: auto;
        }
    }
}