@use 'vars' as v;
@use 'mixins' as m;


h1{font-size: 4rem;}
h2{font-size: 3.6rem;}
h3{font-size: 3rem;}
.text-center{
    text-align: center;
}

// Selector global para todos los bloques que tengan un elemento heading
[class$="__heading"] {
    @include m.page-name;
}
[class$="__description"] {
    @include m.description-text;
}
