@use "base/mixins" as m;
@use "base/vars" as v;

.packages{

    &__grid{
        @include m.container;
        @include m.grid(1,3rem);
        @include m.tablet{
            @include m.grid(3,5rem);
            // Evitamos forzar el tamaño
            align-items: start;
        }
    }
}

.package{
    @include m.card;
    &:nth-child(2){
        order: -1; // Ubicamos al inicio el paquete más caro, tecnica web
        @include m.tablet{
            order: unset;
        }
    }
    &__list{
        @include m.reset-list;
        line-height: 1.5;
    }
    &__price{
        font-size: 6rem;
        margin: 3rem 0;
        color: v.$blue;
        font-weight: v.$extraBold;
    }
}