@use "base/mixins" as m;
@use "base/vars" as v;

.speakers{
    &__grid{
        @include m.container;
        @include m.grid(1,5rem);
        @include m.tablet{
        @include m.grid(2,6rem);
        }
        @include m.desktop{
        @include m.grid(3,6rem);
        }
    }

    .speaker{
        @include m.card;

        // Aplicamos estilos cada 2 elementos, el calculo es asi
        // 2.(0) + 1 = 1
        // 2.(1) + 1 = 3
        // 2.(2) + 1 = 5
        // Aplicamos propiedades cada 4 elementos
        // &:nth-child(4n + 1){
        //     background-image: image-set(url("../img/bg_1.avif")1x, url("/../img/bg_1.webp")1x, url("/../img/bg_1.png")1x);
        //     background-position: center top;
        //     background-size: 35rem;
        //     background-repeat: no-repeat;
        // }
        // &:nth-child(4n + 2){
        //     background-image: image-set(url("../img/bg_2.avif")1x, url("/../img/bg_2.webp")1x, url("/../img/bg_2.png")1x);
        //     background-position: center top;
        //     background-size: 35rem;
        //     background-repeat: no-repeat;
        // }
        // &:nth-child(4n + 3){
        //     background-image: image-set(url("../img/bg_3.avif")1x, url("/../img/bg_3.webp")1x, url("/../img/bg_3.png")1x);
        //     background-position: center top;
        //     background-size: 35rem;
        //     background-repeat: no-repeat;
        // }
        // &:nth-child(4n + 4){
        //     background-image: image-set(url("../img/bg_4.avif")1x, url("/../img/bg_4.webp")1x, url("/../img/bg_4.png")1x);
        //     background-position: center top;
        //     background-size: 35rem;
        //     background-repeat: no-repeat;
        // }
        
        // Podemos realizar todo lo anterior con bucle for en sass
        // para i desde 1 hasta 4
        @for $i from 1 through 4{
            &:nth-child(4n + #{$i}){
            background-image: image-set(url("../img/bg_#{$i}.avif")1x, url("/../img/bg_#{$i}.webp")1x, url("/../img/bg_#{$i}.png")1x);
            background-position: center top;
            background-repeat: no-repeat;
            background-size: 30rem;
        }
        }
        &__image{
            min-width: 30rem;
            @include m.tablet{
                min-width: unset;
            }
        }
        &__location{
            color: v.$gray;
            margin: 1rem 0;
            font-size: 2rem;
            line-height: 1.5;
        }
        &__skills-list{
            @include m.tags;
        }
        
    }
    
}

.speaker-socials{
    @include m.social-menu(v.$black,3rem);
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}
